<!DOCTYPE html>
<html>
<head>
  <title>Email Verification</title>
</head>
<body>
  <p>Hello, there!</p>
  <p>Please use the code below to confirm your email address and continue.</p>
	<p>This code will expire in two hours.</p>
	<p>If you don't think you should be receiving this email, you can safely ignore it.</p>
	<h1>{{ code }} </h1>
	<br />
	<hr />
	<p>You received this email because you requested a confirmation code.</p>
</body>
</html>
